services:
  postgres:
    image: postgres:17
    container_name: postgres
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      #- POSTGRES_LOGGING_LEVEL=all
      # - PGOPTIONS="-c log_statement=all -c log_duration=on"
    volumes:
      - ${IZHG_PG_DATA_DIR}:/var/lib/postgresql/data # Persist data with a volume
    ports:
      - "5432:5432"
    networks:
      - shared

networks:
  shared:
    external: true
    name: shared