services:
  redis:
    image: redis:7.2
    container_name: redis-container
    restart: always
    # command: redis-server --requirepass YourSecretPassword
    # network_mode: host
    ports:
      - "6379:6379"

  redisinsight:
    image: redis/redisinsight:latest
    container_name: redis-insight
    restart: always
    ports:
      - "5540:5540"